<mat-toolbar color="primary" class="navbar navbar-default py-2" dir="rtl">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLinkActive="active" routerLink="welcome"><img src="" alt=""> فاينال </a>
        </div>


        <div class="d-flex align-items-center">
            <ul class="nav navbar-right d-flex align-items-center">
                @if (user !==null)
                { <li routerLinkActive="active"><a routerLink="/new-exam">أختبار جديد</a></li>}
                @if (user !==null)
                { <li routerLinkActive="active"><a routerLink="/students">الطلاب</a></li>}
                @if (user !==null)
                { <li routerLinkActive="active"><a routerLink="/subjects">المواد </a></li>}
                @if (user !==null)
                { <li routerLinkActive="active" (click)="logout()"><a routerLink="/login">خروج</a>
                </li>}
                @if (user == null)
                {<li routerLinkActive="active"><a routerLink="/login">دخول</a></li>}
                @if (user == null)
                { <li routerLinkActive="active"><a routerLink="/register">تسجيل</a></li>}
                @if (user !==null)
                { <li class="username">{{this.user?.username}}</li>}

            </ul>
        </div>
    </div>
</mat-toolbar>